/* < ====================================================== !
< Sprite Styling
< ====================================================== ! */

.sprite {
  width: 32px;
  height: 32px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.sprite svg {
  width: 16px;
  height: 16px;
  fill: var(--foreground-colour);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}